/* 列表页管理 */
/*禁用文字选中*/
.no-select-text{
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
}
/*table所在的DIV*/
.table-warp{
	position: relative;
}
.table-div{
	position:relative;
	overflow-x: auto;
	overflow-y: hidden;
}
/*table*/
.table-warp table[list-manager]{
	table-layout:fixed;
	word-wrap:break-word;
	text-align: center;
	margin:0px !important;
}
.table-warp table[list-manager] tr td{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.table-warp table[list-manager] th{
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor:default;
}
/* 提供的默认table样式 */
table.list-manager-default{ 
	background-color: #dad9c7;
    font-size: 12px;
    width: 100%;
	border-collapse:separate;
	border-spacing:1px;
    font-size: 12px !important;
    font-family: arial !important;
}
table.list-manager-default thead tr th{ 
 	background-color: #e6eeee;
    border: 1px solid #fff;
    font-size: 8pt;
	text-align: center;
}
table.list-manager-default thead tr th:hover{
 	background-color: #8dbdd8;
}
table.list-manager-default tbody tr td{    
	background-color: #fff;
    color: #3d3d3d;
    padding: 4px;
    vertical-align: top;
    text-align: left;
}
/*列表设置显示隐藏*/
.table-warp .config-area{
	display:block;
	width:18px;
	position:absolute;
	top:-10px;
	right:-8px;
	margin-left:-18px;
	padding-top:3px;
	cursor:pointer;
	line-height:18px;
	z-index:9;
	text-align:center;
	visibility:hidden;
}
.table-warp:hover .config-area{
	visibility:visible;
}
.table-warp .config-area .config-action{
	display:block;
	width:17px;
	height:17px;
	overflow:hidden;
	vertical-align:middle;
	line-height:17px;
}
.table-warp .config-area:hover .config-action{
    -webkit-animation: rotationMedia 1s ease-in-out infinite;
       -moz-animation: rotationMedia 1s ease-in-out infinite;
            animation: rotationMedia 1s ease-in-out infinite;
}
.table-warp .config-area .config-list{
	display:none;
	position:absolute;
	top:0px;
	right:20px;
	margin:0px;
	padding:2px;
	list-style-type:none;
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	background:#f8f8f8;
	border:1px solid #ddd;
	border-radius:3px;
}
.table-warp .config-area .config-list li{
	height:16px;
	display:inline-block;
	margin:0px 10px 0px 0px;
	padding:0px 10px;
	line-height:16px;
}
.table-warp .config-area .config-list li.no-click{
	cursor:not-allowed;
}
.table-warp .config-area .config-list li.no-click *{
	cursor:not-allowed;
}
.table-warp .config-area .config-list li input[type="checkbox"]{
	display:none;
}
.table-warp .config-area .config-list li label{
	cursor:pointer;
	color:#666;
	font-weight:500;
}
.table-warp .config-area .config-list li label:hover{
	color:#09f;
}
.table-warp .config-area .config-list li.no-click label:hover{
	color:#666;
}
.table-warp .config-area .config-list li .fake-checkbox{
	display:inline-block;
	width:14px;
	height:14px;
	position:relative;
	border:1px solid #999;
	border-radius:50%;
	box-shadow:0 0 1px 1px #e8e8e8;
	vertical-align:middle;
	margin-right:5px;
}
.table-warp .config-area .config-list li .fake-checkbox:after{
	display:block;
	width:8px;
	height:8px;
	position:absolute;
	top:2px;
	left:2px;
	content:"";
	background:#e8e8e8;
	border-radius:50%;	
}
.table-warp .config-area .config-list li:hover .fake-checkbox{
	border-color:#09f;
}
.table-warp .config-area .config-list li.checked-li .fake-checkbox:after{
	background:#09f;
}
/*表头提醒*/
.table-warp table[list-manager] th .remind-action{
	width:14px;
	position:relative;
	float:left;
	margin-right:6px;
	cursor:help;
	visibility:hidden;
}
.table-warp table[list-manager] th:hover .remind-action{
	visibility:visible;
}
.table-warp table[list-manager] th .remind-action .ra-area{
	min-width:150px;
	max-width:300px;
	position:absolute;
	top:80%;
	left:80%;
	border:1px solid #2b669a;
	z-index:9;
}
.table-warp table[list-manager] th .remind-action .ra-help{
	display:block;
	width:16px;
	height:16px;
	font-size:16px;
	color:#666;
}
.table-warp table[list-manager] th .remind-action:hover .ra-help{
	color:#2b669a;
}
.table-warp table[list-manager] th .remind-action .ra-area .ra-title{
	display:block;
	border-bottom:1px solid #2b669a;
	background:#428bca;
	text-align:center;
	padding:3px 10px;
	font-size:12px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	color:#fff;
}
.table-warp table[list-manager] th .remind-action .ra-area .ra-con{
	display:block;
	padding:5px 10px;
	background:#fff;
	font-size:12px;
	font-weight:500;
	text-indent:2em;
	text-align:left;
	color:#666;
}
/*表头置顶*/
.table-warp .set-top{
	display:none;
	position:absolute;
	left:1px;
	top:0px;
	z-index:99;
}
.table-warp .set-top .adjust-action{
	display:none !important;
}
.table-warp .set-top .remind-action{
	display:none !important;
}
.table-warp .set-top .sorting-action{
	display:none !important;
}
.table-warp .set-top .drag-action{
	cursor:default !important;
}
.table-warp table[list-manager] thead.scrolling{
	visibility:hidden;
}
.table-warp .scroll-area{
	position:absolute;
	left:0px;
	width:100%;
	z-index:9;
	overflow-x:auto;
	overflow-y:hidden;
}
.table-warp .scroll-area .sa-inner{
	height:20px;
}
/*th内的上级DIV*/
.table-warp table[list-manager] th .th-warp{
	width:100%;
	height:100%;
	position:relative;
	padding:4px;
}
/*宽度调整*/
.table-warp table[list-manager] th .adjust-action{
	display:block;
	width:4px;
	height:100%;
	position:absolute;
	top:0px;
	right:-2px;
	cursor:col-resize;
	z-index:2;
}
.table-warp table[list-manager] .adjust-selected{
	border-right-width: 2px;
	border-right-style: dashed;
	border-right-color: #ccc;
}
/*排序*/
.table-warp table[list-manager] .sorting-action{
	display:block;
	position:relative;
	width:20px;
	height:18px;
	float:right;
	cursor:default;
	z-index:2;
}
.table-warp table[list-manager] .sorting-action.sortion-up{
	content:"\f102";
}
.table-warp table[list-manager] .sorting-action.sortion-down{
	content:"\f103";	
}
.table-warp table[list-manager] .sorting-action .sa-icon{
	display:block;
	height:10px;
	font-size:18px;
	line-height:10px;
	position:absolute;
	color:#000;
}
.table-warp table[list-manager] .sorting-action .sa-up{
	top:0px;
	right:0px;
}
.table-warp table[list-manager] .sorting-action .sa-down{
	bottom:0px;
	right:0px;
}
.table-warp table[list-manager] .sorting-action.sorting-up .sa-up{
	opacity:1;
}
.table-warp table[list-manager] .sorting-action.sorting-up .sa-down{
	opacity:0.1;
}
.table-warp table[list-manager] .sorting-action.sorting-down .sa-up{
	opacity:0.1;
}
.table-warp table[list-manager] .sorting-action.sorting-down .sa-down{
	opacity:1;
}
/*拖拽换位*/
.table-warp table[list-manager] th .drag-action{
	cursor:all-scroll;
}	
.table-warp table[list-manager] .drag-ongoing{
	cursor:all-scroll;
	background:#000 !important;
	border-color:#ccc !important;
	color:#fff !important;
	opacity:0.5;
}
.table-warp table[list-manager] .drag-ongoing.opacityChange{
	opacity:1;
    -webkit-animation: opacityChange 1s ease-in-out infinite;
       -moz-animation: opacityChange 1s ease-in-out infinite;
            animation: opacityChange 1s ease-in-out infinite;
}
.table-warp .dreamland-div{
	display:none;
	position:absolute;
	border:1px solid #ccc;
	padding:0px;
	background:#fff;
	cursor:all-scroll;
	z-index:9;
}
.table-warp .dreamland-div .dreamland-table{
	table-layout:fixed;
	width:100%;
	margin:0px !important;
	padding:0px !important;
}
.table-warp .dreamland-div .dreamland-table td{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
/*闪烁动画特效*/
@-webkit-keyframes opacityChange{
    0%{
		opacity:0.1;
	}
    100%{
		opacity:0.7;
	}
}
@-moz-keyframes opacityChange{
    0%{
		opacity:0.1;
	}
    100%{
		opacity:0.7;
	}
}
@keyframes opacityChange{
    0%{
		opacity:0.1;
	}
    100%{
		opacity:0.7;
	}
}
/*旋转动画特效*/
@-webkit-keyframes rotationMedia{
    0%{
		-webkit-transform: rotate(0deg);
	}
    100%{
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes rotationMedia{
    0%{
		-moz-transform: rotate(0deg);
	}
    100%{
		-moz-transform: rotate(360deg);
	}
}
@keyframes rotationMedia{
    0%{
		transform: rotate(0deg);
	}
    100%{
		transform: rotate(360deg);
	}
}
.hidden{
	display:none;
}