
@font-face {font-family: "iconfont";
	src: url('iconfont.eot'); /* IE9*/
	src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('iconfont.woff') format('woff'), /* chrome、firefox */
	url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
	font-smoothing: grayscale;
	-webkit-text-stroke-width: 0.2px;
	-moz-text-stroke-width: 0.2px;
	text-stroke-width: 0.2px;
}
.icon-set:before { content: "\e633"; }
.icon-help:before { content: "\e6db"; }
.icon-up:before { content: "\e7d3"; }
.icon-down:before { content: "\e63a"; }
