.table-wrap .table-div table[grid-manager]{
    th[gm-tree], td[gm-tree]{
        border-right: none;
        padding: 0;
        .th-wrap{
            padding: 0;
        }
    }
    .tree-action{
        text-align: center;
        font-size: 16px;
        color: #008800;
        cursor: pointer;
    }
    tr[children-open-state="false"]{
        display: none;
    }
    tr[father-cache-key] td{
        //opacity: .3;
    }
}
