{
    "presets": [
        [
            "@babel/preset-env",

            {
                "targets": {
                    "chrome": "55",
                    "firefox": "53"
                },
                "useBuiltIns": "entry",
                "corejs": 3
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": false,
                "helpers": true,
                "regenerator": true,
                "useESModules": true
            }
        ],
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        "@babel/plugin-proposal-class-properties"
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}
