@import "../../css/mixins";

// th样式, 在JS中会动态的变更left | right值
[grid-manager-mock-thead]{
    [fixed]{
        position: sticky;
        z-index: 3;
        .table-bg();
    }
    [fixed="left"]{
        box-shadow: 1px 0 0 #e8e8e8;
        &[fixed-border]{
            box-shadow: 2px -2px 3px #e8e8e8;
        }
    }
    [fixed="right"]{
        box-shadow: -1px 0 0 #e8e8e8;
        &[fixed-border]{
            box-shadow: -2px -2px 3px #e8e8e8;
        }
    }
}

// td 样式不在style.less中，是通过js动态添加
