/**
 * 拖拽换位
 * style.less
 * @author wangbo
 * @since 2019-02-20
 */
@import "../../css/mixins";

.table-wrap {
    .table-div {
        table[grid-manager] {
            th {
                .th-wrap {
                    /* 拖拽换位 */
                    .drag-action {
                        cursor: all-scroll;
                    }
                }
            }
            th, td {
                /* 宽度调整选中 */
                &.adjust-selected {
                    border-right-width: 2px;
                    border-right-style: dashed;
                    border-right-color: #ccc;
                    &.drag-action {
                        cursor: col-resize;
                    }
                }
                /* 拖拽换位中 */
                &.drag-ongoing {
                    cursor: all-scroll;
                    &.opacityChange {
                        opacity: 1;
                        animation: opacityChange 1s ease-in-out infinite;
                    }
                }
            }
        }
    }
    /* 拖拽换位镜象 */
    .dreamland-div {
        display: none;
        position: absolute;
        padding: 0;
        background: #fff;
        cursor: all-scroll;
        z-index: 9;
        .dreamland-table {
            table-layout: fixed;
            width: 100%;
            margin: 0 !important;
            padding: 0 !important;
            background-color: #d8d8d8;
            border-collapse: separate;
            border-spacing: 1px;
            font-size: @font-normal-size !important;
            thead{
                .bg-image();
            }
            tr {
                td {
                    background-color: #fff;
                    color: #3d3d3d;
                    padding: 4px;
                    .text-overflow();
                }
            }
        }
    }
}
