/**
 * 拖拽换位
 * style.less
 * @author wangbo
 * @since 2019-02-20
 */
@import "../../css/mixins";

/* 拖拽换位 */
.gm-drag-action {
    cursor: all-scroll;
}

/* 拖拽换位中 */
.table-div .gm-drag-ongoing {
    cursor: all-scroll;
    opacity: 1;
    animation: opacityChange 1s ease-in-out infinite;
}
/* 拖拽换位镜象 */
.gm-dreamland-div {
    display: none;
    position: absolute;
    padding: 0;
    background: #fff;
    cursor: all-scroll;
    z-index: 9999;
    border: 1px solid #e8e8e8;
    .dreamland-table {
        table-layout: fixed;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #d8d8d8;
        border-collapse: separate;
        border-spacing: 0;
        font-size: @font-normal-size;
        thead{
            .table-bg();
        }
        tr {
            td {
                background-color: #fff;
                padding: 11px;
                .text-overflow();
            }
            &:nth-child(odd) td{
                background-color: #fafafa;
            }
            &:hover td{
                background-color: #F1F8FB;
            }
        }
    }
}
