@import "../../css/mixins";
.table-div[gm-full-column]{
    [grid-manager] tr{
        &[full-column]{
            td{
                background: #fafafa;
                padding: 0;
                border: 0;
            }
            &[full-column-state="false"]{
                display: none;
            }
        }

        &[full-column-interval]{
            td{
                background: #fff;
                padding: 0;
                border-top: @table-border;
                border-bottom: @table-border;
            }
            &[full-column-interval="0px"] td{
                border-bottom: none;
            }
        }

        // 清除最后一列(full-column-interval)的边框
        &:last-child{
            &[full-column-interval] td{
                border-bottom: none;
            }
            &[full-column-interval="0px"] td{
                border-top: none;
            }
        }

        // 常规tr
        &[gm-cache-key]{
            td {
                background: #fff;
                border-bottom: none;
                &[gm-fold] {
                    text-align: center;
                }
                [full-column-fold]{
                    color: #00aaf1;
                }
            }
        }
    }
}
.disable-border {
    .table-div[gm-full-column]{
        tr[full-column] td .full-column-div{
            border-left: @table-border;
            border-right: @table-border;
        }
        tr:not([full-column]):not([full-column-interval]) td{
            &:first-child{
                border-left: @table-border;
            }
            &:last-child{
                border-right: @table-border;
            }
        }
    }
}
