/* 图标库来源=> http://www.iconfont.cn */
@font-face {
	font-family: "gm-iconfont";
    src: url("./iconfont.woff") format('woff');
}
.table-wrap thead,
.table-wrap tbody td[gm-create="true"],
.table-wrap .config-area,
.table-wrap .footer-toolbar,
.table-wrap .dreamland-div,
.grid-menu{
    .iconfont {
        font-family: "gm-iconfont" !important;
        font-size: 12px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-help:before {
        content: "\e613";
    }

    .icon-up:before {
        content: "\e640";
    }

    .icon-refresh:before {
        content: "\e602";
    }

    .icon-filter:before {
        content: "\e6e2";
    }

    .icon-xls:before {
        content: "\e675";
    }

    .icon-down:before {
        content: "\e637";
    }

    .icon-add:before {
        content: "\e603";
    }

    .icon-config:before {
        content: "\e63e";
    }

    .icon-close:before {
        content: "\e6ca";
    }

    .icon-jianhao:before {
        content: "\e723";
    }
}
