html, body{
    width: 100%;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
}
.plugin-action{
    display: inline-block;
    color: steelblue;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}
.plugin-action:hover{
    text-decoration: underline;
}
.search-area{
    padding: 10px 20px;
    border: 1px solid #ccc;
    background: #efefef;
    margin: 0 10px 15px 10px;
}
.search-area .sa-ele{
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
}
.search-area .sa-ele .se-title{
    display: inline-block;
    margin-right: 10px;
}
.search-area .sa-ele .se-con{
    display: inline-block;
    width:180px;
    height: 24px;
    border: 1px solid #ccc;
    padding: 0 4px;
    line-height: 24px;
}
.search-area .sa-ele .search-action, .search-area .sa-ele .reset-action{
    display: inline-block;
    width:80px;
    height: 26px;
    border: 1px solid #ccc;
    background: #e8e8e8;
    padding: 0 4px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
    margin-right: 10px;
}
.search-area .sa-ele .search-action:hover, .search-area .sa-ele .reset-action:hover{
    opacity: 0.7;
}

.bottom-bar{
    height: 30px;
    background: #f8f8f8;
    padding: 10px;
    margin-top: 10px;
}
.fn-select{
    width: 100px;
    height: 28px;
}
.fn-code{
    width: 400px;
    height: 28px;
    border: 0;
    padding: 0 10px;
}
.fn-run-info{
    font-size: 12px;
    padding: 0 10px;
}
.bottom-bar .fn-run-info a{
    color: #0f88eb;
    margin: 0;
}
.success-info{
    color: #008800;
}
.error-info{
    color: #880000;
}
.bottom-bar button{
    padding: 5px 20px;
    margin-right: 10px;
    border: 1px solid #999;
}
.bottom-bar a{
    font-size: 12px;
    margin-right: 10px;
}
.void-template{
    height:300px;
    line-height: 300px;
    text-align: center;
    font-size: 24px;
    color: #ccc;
}
.grid-main {
    margin: 10px;
    height: calc(100vh - 64px - 60px);
    overflow: auto;
}
