html, body{
    width: 100%;
    height: 100%;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
p{
    font-size:14px;
    padding:10px 30px;
    color:#333;
    text-indent:2em;
    margin: 0;
}
.demo-site{
    display: flex;
    height: 100%;
}

.demo-tabs{
    width: 200px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    margin-right: 10px;
}
.demo-tabs .demo-ele{
    display: block;
    padding: 10px;
    margin-bottom: -1px;
    cursor: pointer;
    text-align: center;
}
.demo-tabs .demo-ele:nth-child(odd) {
    background-color: #eee;
}
.demo-tabs .demo-ele[selected="selected"]{
    background-color: #1890ff;
    color: #fff;
}
.demo-tabs .demo-ele:hover{
    opacity: 0.7;;
}
#demo-iframe{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
