@import "../../css/mixins";

// 拖拽换位中
.table-div .gm-move-row-ongoing {
    cursor: all-scroll;
    opacity: 1;
    animation: opacityChange 1s ease-in-out infinite;
}

// 拖拽标识
tbody.move-row tr:not([empty-template]) td:not([disable-move]){
    cursor: all-scroll;
}

// 拖拽镜像
.dreamland-row-div{
    display: none;
    position: absolute;
    cursor: all-scroll;
    z-index: 4;
    border-top: var(--gm-border);
    border-bottom: var(--gm-border);
    box-shadow:0 0 4px 0 rgba(0,0,0,0.13);
    .dreamland-row {
        table-layout: fixed;
        width: 100%;
        background-color: #d8d8d8;
        border-collapse: separate;
        border-spacing: 0;
        font-size: var(--gm-font-size);
        td {
            background: var(--gm-bg);
            padding: 11px;
            border-right: var(--gm-border);
            border-bottom: none;
            vertical-align: middle;
            .text-overflow();
            &[cell-hidden]{
                display: none;
            }
        }
    }
}
