.gm-checkbox {
    font-size: 14px;
    color: rgba(0,0,0,.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    top: -.5px;
}

.gm-checkbox-input:focus+.gm-checkbox-inner,
.gm-checkbox-wrapper:hover .gm-checkbox-inner,
.gm-checkbox:hover .gm-checkbox-inner {
    border-color: #1890ff;
}

.gm-checkbox-checked:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid #1890ff;
    content: "";
    -webkit-animation: gmCheckboxEffect .36s ease-in-out;
    animation: gmCheckboxEffect .36s ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: hidden;
}

.gm-checkbox-wrapper:hover .gm-checkbox:after,
.gm-checkbox:hover:after {
    visibility: visible;
}

.gm-checkbox-inner {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    background-color: #fff;
    transition: all .3s;
}

.gm-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scale(0);
    transform: rotate(45deg) scale(0);
    position: absolute;
    left: 4.57142857px;
    top: 1.14285714px;
    display: table;
    width: 5.71428571px;
    height: 9.14285714px;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: " ";
    transition: all .1s cubic-bezier(.71,-.46,.88,.6);
}

.gm-checkbox-input {
    position: absolute;
    left: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.gm-checkbox-indeterminate .gm-checkbox-inner:after {
    content: " ";
    -webkit-transform: scale(1);
    transform: scale(1);
    position: absolute;
    left: 2.42857143px;
    top: 5.92857143px;
    width: 9.14285714px;
    height: 1.14285714px;
}

.gm-checkbox-checked .gm-checkbox-inner:after {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    position: absolute;
    display: table;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    content: " ";
    transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
}

.gm-checkbox-checked .gm-checkbox-inner,
.gm-checkbox-indeterminate .gm-checkbox-inner {
    background-color: #1890ff;
    border-color: #1890ff;
}

.gm-checkbox-wrapper {
    font-size: 14px;
    color: rgba(0,0,0,.65);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 16px;
    cursor: pointer;
    display: inline-block;
}

.gm-checkbox-wrapper+.gm-checkbox-wrapper {
    margin-left: 8px;
}

.gm-checkbox+span,
.gm-checkbox-wrapper+span {
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -1px;
}

@-webkit-keyframes gmCheckboxEffect {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .5;
    }

    to {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes gmCheckboxEffect {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .5;
    }

    to {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        opacity: 0;
    }
}
