/* 表格配置 */
.table-wrap{
	.config-area{
		display: none;
		max-width: 100%;
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		z-index: 3;
		.config-action{
			display: block;
			width: 20px;
			height: 20px;
			position: absolute;
			right: 5px;
			top: 7px;
			overflow: hidden;
			vertical-align: middle;
			text-align: center;
			z-index: 2;
			i{
				display: inline-block;
				font-size: 18px;
			}
			&:hover i{
				color: #09f;
			}
		}
		.config-list{
			display: block;
			width: 100%;
			padding: 2px 30px 0 2px;
			list-style-type: none;
			font-size: 12px;
			background: #f8f8f8;
			border: 1px solid #ddd;
			border-radius: 3px;
			margin: 0;
			>li{
				display: inline-block;
				padding: 4px 10px;
				line-height: 20px;
				background-color: #e8e8e8;
				margin-right: 2px;
				margin-bottom: 2px;
				>label{
					margin: 0;
					cursor: pointer;
					color: #666;
					font-weight: 500;
				}
				&:hover{
					>label{
						color: #09f;
					}
					.fake-checkbox{
						border-color: #09f;
					}
				}
				&.no-click{
					cursor: not-allowed;
					*{
						cursor: not-allowed;
					}
					&:hover{
						>label{
							color:#666;
						}
					}
				}
				input[type="checkbox"]{
					display: none;
				}
				.fake-checkbox{
					display: inline-block;
					width: 14px;
					height: 14px;
					position: relative;
					border: 1px solid #999;
					border-radius: 50%;
					box-shadow: 0 0 1px 1px #e8e8e8;
					margin-right: 5px;
                    vertical-align: sub;
					&:after{
						display: block;
						width: 8px;
						height: 8px;
						position: absolute;
						top: 2px;
						left: 2px;
						content: "";
						background: #e8e8e8;
						border-radius: 50%;
					}
				}
				&.checked-li .fake-checkbox:after{
					background: #09f;
				}
			}
		}
	}
}
