/* 右键菜单 */
.grid-menu[grid-master]{
	display: none;
	width: 200px;
	max-height: 200px;
	position: absolute;
	border: 1px solid #ccc;
	padding: 5px 0;
	background-color: #fff;
	z-index: 3;
	[grid-action]{
		display: block;
		position: relative;
		padding: 5px 20px;
		cursor: default;
		&:hover{
			background-color: #3276b1;
			color: #fff;
		}
		&.disabled{
			color: #ccc;
			background-color: #fff;
		}
		.iconfont{
			display: block;
			width: 18px;
			height: 18px;
			font-size: 18px;
			position: absolute;
			top: 5px;
			right: 10px;
		}
	}
	.grid-line{
		display: block;
		height: 3px;
		background-color: #e8e8e8;
		border-top: 1px solid #f8f8f8;
		border-bottom: 1px solid #f8f8f8;
	}
}
