// table head and pagination background

@font-normal-color: #000;
@font-active-color: #1890ff;
@table-border: 1px solid #e8e8e8;
@font-normal-size: 12px;
.table-bg {
	background: #f2f2f2;
}
// text overflow ellipsis
.text-overflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
